<!-- 功能界面 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUMT银行ATM机系统</title>
    <link rel="icon" href="/AtmSimulationWeb/static/images/logo.jpg">
    <link rel="stylesheet" href="/AtmSimulationWeb/static/css/function.css">
</head>

<body>
    <header class="label-style">CUMT银行ATM机系统</header>
    <div id="background">
        <!-- 标题栏 -->
        <div class="index-title-region">
            <span class="index-title">
                中国矿业大学银行
            </span>
        </div>

        <!-- 功能栏 -->
        <br>
        <div class="index-number-button-region">
            <div class="index-number-button-line">
                <a href="/AtmSimulationWeb/templates/withdrawal.html"><button class="left-button-style label-style"
                        value="取款">取款</button></a>
                <a href="/AtmSimulationWeb/templates/changepass.html"> <button class="right-button-style label-style"
                        value="密码修改">密码修改</button></a>
            </div>
            <div class="index-number-button-line">
                <a href="/AtmSimulationWeb/templates/deposit.html"><button class="left-button-style label-style"
                        value="存款">存款</button></a>
                <a href="/AtmSimulationWeb/templates/inquiry.html"> <button class="right-button-style label-style"
                        value="余额查询">余额查询</button></a>
            </div>
            <div class="index-number-button-line">
                <a href="/AtmSimulationWeb/templates/transfer.html"><button class="left-button-style label-style"
                        value="转账">转账</button></a>
                <a href="/AtmSimulationWeb/templates/print.html"><button class="right-button-style label-style"
                        value="打印">打印</button></a>
            </div>
            <div class="index-number-button-line">
                <a href="/AtmSimulationWeb/templates/history.html"><button class="left-button-style label-style"
                        value="记录">记录</button></a>
                <a href="/AtmSimulationWeb/templates/index.html"><button class="right-button-style label-style"
                        value="返回">返回</button></a>
            </div>
        </div>
    </div>
    <footer class="label-style">&copy cumt group</footer>
</body>

</html>