<!-- 功能界面 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUMT银行ATM机系统</title>
    <link rel="icon" href="/AtmSimulationWeb/static/images/logo.jpg">
    <link rel="stylesheet" href="/AtmSimulationWeb/static/css/history.css">
</head>

<body>
    <header class="label-style">CUMT银行ATM机系统</header>
    <div id="background">
        <div class="history-box">
            <div class="head-box">
                <div class="font-style">历史交易记录</div>
            </div>
            <div class="body-box">
                <table width="800" border="1">
                    <tr>
                        <th align="center" class="font" bgcolor="grey">交易时间</th>
                        <th align="center" class="font" bgcolor="grey">交易类型</th>
                        <th align="center" class="font" bgcolor="grey">交易前余额</th>
                        <th align="center" class="font" bgcolor="grey">交易后余额</th>
                    </tr>
                    <tr>
                        <td align="center" class="font">2018-6-19 00:00</td>
                        <td align="center" class="font">转账</td>
                        <td align="center" class="font">239.0</td>
                        <td align="center" class="font">231.8</td>
                    </tr>
                    <tr>
                        <td align="center" class="font">2018-6-19 05:00</td>
                        <td align="center" class="font">取款</td>
                        <td align="center" class="font">233.2</td>
                        <td align="center" class="font">234.3</td>
                    </tr>
                    <tr>
                        <td align="center" class="font">2018-6-19 10:00</td>
                        <td align="center" class="font">存款</td>
                        <td align="center" class="font">232.2</td>
                        <td align="center" class="font">234.6</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer class="label-style">&copy cumt group</footer>
</body>

</html>