<!-- 余额查询 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUMT银行ATM机系统</title>
    <link rel="icon" href="/AtmSimulationWeb/static/images/logo.jpg">
    <link rel="stylesheet" href="/AtmSimulationWeb/static/css/inquery.css">
</head>

<body>
    <header class="label-style">CUMT银行ATM机系统</header>
    <div id="background">
        <!-- 标题栏 -->
        <div class="index-title-region">
            <span class="index-title">
                中国矿业大学银行
            </span>
        </div>

        <!-- 功能栏 -->
        <div class="index-number-button-region">
            <div>
                <span class="tip-info">您的账户余额信息</span>
            </div>
            <br>
            <br>
            <div>
                <span class="show-info">账户余额：&nbsp;</span>
                <span class="digit">1234</span>
            </div>
            <span class="show-info">可用余额：&nbsp;</span>
            <span class="digit">1234</span>
            <div>

            </div>
            <div class="index-number-button-line">
                <a href="/AtmSimulationWeb/templates/withdrawal.html"><button class="left-button-style label-style"
                        value="取款">取款</button></a>
                <a href="/AtmSimulationWeb/templates/deposit.html"><button class="right-button-style label-style"
                        value="存款">存款</button></a>
            </div>
            <div class="index-number-button-line">
                <a href="/AtmSimulationWeb/templates/transfer.html"><button class="left-button-style label-style"
                        value="转账">转账</button></a>
                <a href="/AtmSimulationWeb/templates/function.html"><button class="right-button-style label-style"
                        value="返回">返回</button></a>
            </div>
        </div>
    </div>
    <footer class="label-style">&copy cumt group</footer>
</body>

</html>