<!-- 退卡界面 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUMT银行ATM机系统</title>
    <link rel="icon" href="/AtmSimulationWeb/static/images/logo.jpg">
    <link rel="stylesheet" href="/AtmSimulationWeb/static/css/return_card.css">
</head>

<body>
    <header class="label-style">CUMT银行ATM机系统</header>
    <div id="background">
        <!-- 标题栏 -->
        <div class="index-title-region">
            <span class="index-title">
                中国矿业大学银行
            </span>
        </div>
        <!-- 结束语栏 -->
        <div class="index-ending-region">
            <span class="index-ending">
                祝您心情愉快
            </span>
        </div>
        <!-- 启动 -->
        <div class="index-start-region">
            <a href="/AtmSimulationWeb/templates/index.html"><button class="button-style label-style">开始</button></a>
        </div>
    </div>
    <footer class="label-style">&copy cumt group</footer>
</body>

</html>